@import "bootstrap/bootstrap.css";

body {
	background: #fafafa;
	padding-top: 20px;
	font-family: 'Caecilia LT Std', sans-serif;
}
body.no-top-pad {
	padding-top: 0px;
}
body.main {
    padding-top: 0px;
}
h1, h2, h3 {
    font-family: 'Proxima Nova', sans-serif;
}
header h1 {
	font-size: 22px;
	text-transform: uppercase;
}
.hero-unit {
	margin: 50px auto 0 auto;
	width: 320px;
	text-align: center;
}
div.backie {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 400px;
}
.hero-unit {
	margin: 50px auto 50px auto;
	width: 300px;
}
.navbar-inverse .navbar-brand {
	font-size: 14px;
    position: relative;
    margin-bottom: 0px;
	max-height: 60px;
	max-width: 100%;
    color: #000;
}
.event {
	text-align: center;
}
.event-icon {
	cursor: pointer;
}
.event-icon img {
	width: 200px;
	padding-bottom: 10px;
}
.venue {
	font-size: 22px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: inherit;
	background-color: transparent;
	-moz-transition:color 0.8s;
	-webkit-transition:color 0.8s;
	-o-transition:color 0.8s;
	transition:color 0.8s;
}
.navbar-inverse {
    margin-bottom: 0px;
	background-color: #ffffff;
	box-shadow: 1px 1px 1px #ccc;
}
.navbar-inverse .nav > li > a {
	font-size: 12px;
	line-height: 30px;
}
.navbar-inverse .nav > .active > a, .navbar-inverse .nav > .active > a:hover {
	background-color: #8cc84b;
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a:focus {
	background-color: #8cc84b;
	-moz-transition:background-color 0.8s;
	-webkit-transition:background-color 0.8s;
	-o-transition:background-color 0.8s;
	transition:background-color 0.8s;
}
.navbar-inverse .navbar-toggle {
	border: 1px #8cc84b solid;
}
.navbar-toggle {
	top: 15px;
}
.banner {
	text-align: center;
	width: 100%;
	position: absolute;
    top: 20%;
	color: white;
	text-shadow: 1px 1px 1px rgb(122, 121, 113);
    margin: 0 auto;
}
.banner h1 {
	font-size: 42px;
}
.banner p {
	font-size: 18px;
}
.container-960 {
	width: 960px;
}
section > h2 {
	display: inline-block;
	padding: 4px 5px;
	margin: 30px 0px 15px 0px;
	font-size: 26px;
}
section p {
	line-height: 1.8em;
}
section.row {
	padding-top: 20px;
	color: #000;
    max-width: 720px;
    margin: 0 auto;
}
section.block {
	padding: 10px 10px 20px 10px;
}
#events {
	text-align: center;
}
#events .block {
	text-align: center;
    width: 100%;
}
footer {
    margin-top: 40px;
    min-height: 200px;
    background: #16A085;
    color: #fff;
}
footer h2 {
	font-size: 16px;
}
.job {
	color: #555;
}
.job > section {
	font-size: 13px;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/*
* Page styles
*/

#node-meetup {
	position: relative;
	background-color: #404137;
	text-align: center;
	padding: 20px 0px;
}
.cButton {
	margin: 20px auto;
	display: block;
 	width: 80px;
 	height: 80px;
 	padding: 5px;
 	border-radius: 500px;
 	border: none;
	background: #FFFFFF;

	-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
}
.nButton {
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 500px;
	line-height: 70px;
	text-shadow: 1px 1px 1px #4A4A4A;
	background: #4A4A4A;
	text-decoration: none;
	color: #fff;
}
.nButton:hover {
	background: #ccc;
	text-decoration: none;
	color: #fff;
}
