		<footer>
			<div class="container">
				<div class="row">
					<div id="jobs" class="col-lg-2">
					</div>
					<div id="contact" class="col-lg-8">
						<h2>Get Notified</h2>
						<p>Subscribe to get latest events and meetups.</p>
					</div>
				</div>
			</div>
		</footer>
