		<footer>
			<div class="container">
				<div class="row">
					<div id="jobs" class="col-lg-4">
						<h2>About</h2>
                        <p>Cebu.js is a javascript community organized to spread knowledge about the latest in javascript to developers in Cebu.</p>
					</div>
					<div id="contact" class="col-lg-8">
						<h2>Speakers</h2>
						<p>Know of a slick javascript framework, interested to share to the community? Feel free to contact Cebujs at talk@cebujs.com.</p>
					</div>
				</div>
			</div>
		</footer>
