		<footer>
			<div class="container">
				<div class="row">
					<div id="jobs" class="col-lg-2">
					</div>
					<div id="contact" class="col-lg-8">
						<h2>Speakers</h2>
						<p>Know of a slick javascript framework, interested to share to the community? Feel free to contact Cebujs at <a href="mailto:talk@cebujs.com">talk@cebujs.com.</a></p>
					</div>
				</div>
			</div>
		</footer>
