	<% include _partials/head %>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">CEBU.JS</a>
			<div class="nav-collapse collapse">
			  <ul class="nav navbar-nav">
				<li><a href="#events">Events</a></li>
				<li><a href="#jobs">Jobs</a></li>
				<li><a href="#contact">Contact</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</div>
		<div class="container">
			<div class="hero-unit">
				<div class="banner">
					<h1>Cebu.JS</h1>
					<p>Cebu.js is a javascript community organized to spread knowledge about
						the latest in javascript to developers in Cebu.</p>
				</div>
			</div>
		</div>
		<div class="backie" style="background:url(images/magellanscross.jpg) no-repeat center center fixed;"></div>
		<div class="container">
			<section id="events" class="row">
				<h1>Events</h1>
				<section class="block col-lg-12">
					<h2>Code in Node</h2>
					<p>Code in Node is a free training for those who want to learn Node.js - the latest server side technology written in javascript.</p>
					<p>Join us and learn how to create scalable, high performance web applications in Node.js</p>
					<h3>Venue</h3>
					<p>University of San Carlos - Talamban Campus</p>
					<a class="btn btn-success" href="javascript:void(0)">Sign me up</a>
				</section>
			</section>
		</div>
	<% include _partials/footer %>
	<% include _partials/afterfooter %>