	<% include _partials/head %>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-brand" href="#"><span>Upcoming event - </span><a href="/event/node-meetup/">Node meetup.</a></div>
		<!-- 	<div class="nav-collapse collapse">
			  <ul class="nav navbar-nav">
				<li><a href="#events">Events</a></li>
				<li><a href="#jobs">About</a></li>
				<li><a href="#contact">Contact</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</div>
		<div class="container">
			<div class="hero-unit">
				<img src="images/cebujs.png" alt="Cebu.JS">
			</div>
			<div class="banner container">
				<h1>Cebu.JS</h1>
				<p>A community of Javascript enthusiasts in Cebu.</p>
			</div>
		</div>
		<div class="backie" style="background:url(images/magellanscross.jpg) no-repeat center center fixed;"></div>
		<div class="container">

			<section id="events" class="row">
				<h2 class="col-lg-12">About Cebu.js</h2>
				<div class="col-lg-2"></div>
				<section class="block col-lg-8">
					<p>Cebu.js is organized to spread knowledge about the latest in javascript to developers in Cebu.</p>
				</section>
			</section>

			<section id="events" class="row">
				<h2 class="col-lg-12">A community of sharing</h2>
				<div class="col-lg-2"></div>
				<section class="block col-lg-8">
					<p>New and exciting javascript technologies are surging. As developers we need to keep up with the latest technologies that are sprouting in our midst. We can't know it all but we can share what we know. So the floor is open for anyone who has something interesting to share. Contact us at <a href="mailto:talk@cebujs.com">talk@cebujs.com.</a></p>
				</section>
			</section>
		</div>
	<% include _partials/footer %>
	<% include _partials/afterfooter %>
