	<% include _partials/head %>
		<div class="navbar navbar-inverse">
		  <div class="container">
			<div class="navbar-brand upcoming"><span>Upcoming event - </span>JavaScript/ES6 meetup.</div>
		  </div>
		</div>

		<div class="banner">
			<h1>Cebu.JS</h1>
			<p>A community of JavaScript enthusiasts in Cebu.</p>
		</div>

		<div class="backie" style="background:url(images/magellanscross.jpg) no-repeat center center fixed;"></div>

		<section id="events" class="row">
			<h2 class="col-lg-12">About Cebu.JS</h2>
			<div class="col-lg-2"></div>
			<section class="block col-lg-8">
				<p>Cebu.js is weekly and monthly meetup for JavaScript developers in Cebu. Presentations or no presentations; RSVPs, startup pitches, overt recruiting all allowed. Show up and talk, share and hack together.</p>
			</section>
		</section>

		<section id="events" class="row">
			<h2 class="col-lg-12">Sponsorships</h2>
			<div class="col-lg-2"></div>
			<section class="block col-lg-8">
				<p>We've just started and we need a place to hang out and hack away. In return, you'll get exposure to local developer community.</p>
                <p>Pizzas and drinks are allowed too :).</p>
			</section>
		</section>
	<% include _partials/footer %>
	<% include _partials/afterfooter %>
