<% include _partials/head2 %>
	<div id="node-meetup" class="banner">
		<p><a class="logo" href="http://cebujs.com"><img src="/images/logo_white.png" alt="Cebu.js"></a></p>
		<img src="/images/node_meetup.png" alt="node.js meetup">
	</div>
	<div class="container-narrow event">
		<h2>Cebu.js 1st Node.js developers meetup</h2>
		<p class="venue">Venue</p>
		<p>Join us for an evening of getting to know sessions, networking and camaraderie.<p>
		<span class="cButton"><a class="nButton" href="#">RSVP</a></span>
	</div>
<% include _partials/afterfooter2 %>