	<% include _partials/head %>
		<div class="job container-narrow">
			<header>
				<h1>Senior Javascript Developer</h1>
			</header>
			<section>
				<p><strong>Are you excited about the amazing cross device applications being created with modern JavaScript + HTML5 + CSS3?  Are you interested in exploring the power of JavaScript on both the client and the server?  Do you have experience with most of the following: abstraction, design patterns, MVC, frameworks, refactoring, OO-philosophy, TDD? </strong></p>
 
				<p>We are in need of <strong>senior javascript developers</strong> with experience in the following:</p>
				<ul>
					<li>2 - 3 yrs of web applications development in PHP or RoR</li>
					<li>Node.js asynchronous programming.</li>
					<li>Have a good understanding of Javascript's prototypal inheritance and module system</li>
					<li>Have experience building fat clients on either of MV* frameworks like Backbone.js or Backbone.Marionette.js / Ember.js / Angular.js</li>
					<li>Modern Javascript workflow with Grunt / Yeoman / Bower is a plus</li>
				</ul>

				<p>Our Preferred Stack. TLDR: MongoDB/CouchDB, Node.js, Backbone.js/Angular.js/Ember.js, SASS/LESS, jQuery, Grunt.js
				 
				<p><strong>Perks, Perks, Perks</strong></p>
				<ul> 
					<li>Our teams get the latest tools and hardware!</li>
					<li>We invest in training, learning lunches, and sending people to conferences!</li>
					<li>Weekly R&D time for you to tinker and stay cutting edge!</li>
					<li>We are a Scrum/agile shop- little time wasted in meetings and on red tape.</li>
					<li>Great team.  We get along with minimal drama!</li>
					<li>Amazing company culture and vision!</li>
					<li>Incredible sustained growth that presents many career opportunities!</li>
				</ul>
				 
				<p>You will be working for a US based company that has been in the IT industry for 22 years and named among the best companies to work for in 2012. </p>
				 
				<strong>Benefits are exceptional and above standard. Salary will commensurate with experience.</strong>
			</section>
		</div>
	<% include _partials/footer %>
	<% include _partials/afterfooter %>